{% extends "base.html" %}

{% block head_title %}{{ title }} | {{ block.super }} {% endblock head_title %}
{% block user_login_status %}{% endblock user_login_status %}

{% block content %}

<div class="grid_2">
    <div class="container" style="margin-top: 40px;">
        <h2>About Us</h2>
        <div class="heart-divider">
            <span class="grey-line"></span>
            <i class="fa fa-heart pink-heart"></i>
            <i class="fa fa-heart grey-heart"></i>
            <span class="grey-line"></span>
        </div>
        <div class="row_1">
            <p>
                Aryayogam Matrimony is the only portal in the history of online matrimony to provide matrimony services solely based
                on community. It has dedicated approximately 300+ portals for various communities across the globe. It's the right
                destination for singles looking for a life partner within their community. When you register on CommunityMatrimony.com,
                based on your community, your profile will be assigned to the relevant community matrimony site where you can search and
                contact profiles from your community. Empowered by innovative tools and modern technologies, Aryayogam Matrimony
                provides the widest choice of profiles, that matches your criteria and expectations.
            </p>
        </div>
    </div>
</div>

<div class="grid_2">
    <div class="container">

        <h2>Contact Us</h2>
        <div class="heart-divider">
            <span class="grey-line"></span>
            <i class="fa fa-phone pink-phone"></i>
            <i class="fa fa-phone grey-phone"></i>
            <span class="grey-line"></span>
        </div>
        <div class="row_1">
            <p style="margin-left: 16px;">
                For queries related to your partner
                search, please contact:
            </p>
            <div class="col-md-6 ">
                <div class="">
                    <div class="contact-title">Address :</div>
                    <a href="#" style="padding-left:0px;">Puliyath Building, Thiruvazhiyode, Kerala</a>
                </div>
                <div class="">
                    <div class="contact-title">Telephone :</div>
                    <a href="#" style="padding-left:0px;">+91-466-2260850, 9744961450</a>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="">
                    <div class="contact-title">Email :</div>
                    <a href="#" style="padding-left:0px;">ARYAYOGAMTVD@gmail.com</a>
                </div>
                <div>
                    <div class="contact-title">Palakkad Branch: </div>
                    <a href="#" style="padding-left:0px;">+91-491-2542500</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}